3

##### Q3

In [62]:
'''Question 1 

Write a Python program that multiplies all the items in a list.

Sample list= [2, 3, 6]

Result = 36'''
def multiples(s):
    result=1
    
    for i in range(0,len(s)):
        result=result*s[i]
    return result
        
#x=list(input("write a liste"))
x = [2,3,4]
multiples(x)

24

In [98]:
'''Question 2

Write a Python program to get a list, sorted in increasing order by the last element in each tuple,
from a given list of non-empty tuples.

Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

Hint: You can use the sort function.'''
def sortedlist(s):
    n=len(s)
    for i in range(n):
        for j in range(0,n-i-1):
            if s[j][1]> s[j+1][1]:
                tmp=s[j]
                s[j]=s[j+1]
                s[j+1]=tmp
                               
    return s   
x=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
sortedlist(x)
print(x)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [113]:
'''Question 3 

Write a Python program that combines two dictionaries by adding values for common keys.

d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

Expected result: {'a': 400, 'b': 400, 'd': 400, 'c': 300}'''

def combindic(d1,d2):
    dic={}    
    for i,j in d1.items():  
        for x,y in d2.items():  
            if i ==x:
                for k,d in dic.items():
                    dic[k] = j+y  
    return dic
    
x={'a': 100, 'b': 200, 'c':300}
y={'a': 300, 'b': 200, 'd':400}
combindic(x,y)

{}

In [115]:
'''Question 4

With a given integral number n, write a program to generate a dictionary that contains
(i, i*i) so that is an integral number between 1 and n (both included). 
Then the program should print the dictionary. Suppose the following input is supplied to the program: 8.
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}'''



def generate(num):
    d={}
    for i in range(num):
        d[i]=i*i
    return d    
    
    
    
x=int(input('write a number'))
generate(x)

write a number4

{0: 0, 1: 1, 2: 4, 3: 9}

In [111]:
'''Question 5

Write a program to sort a tuple by its float element.

For example: list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

Expected result: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]'''



def sorttuple(s):
    n=len(s)
    for i in range(n):
        for j in range(0,n-i-1):
            if s[j][1]> s[j+1][1]:
                tmp=s[j]
                s[j]=s[j+1]
                s[j+1]=tmp
                               
    return s   
    
x=[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
sorttuple(x)

[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

In [120]:
'''Question 6

Write a Python program to create a set.

Examples : {0, 1, 2, 3, 4}

Write a Python program to iteration over sets.

Write a Python program to add members in a set and to remove items from a given set.'''
  
x=[int(i) for i in set(input("write a numbers"))]
s=print(x)
def add(num):
    for i in range(len(s))
        if num !=s{i}
            s.add(num)
    return s

def remove(num):
     for i in range(len(s))
        if num ==s{i}
            s.remove(num)
    return s
n1=int(input('write num that you wanna add to the set'))
add(n1)
n2=int(input('write num that you wanna remove from the set'))
remove(n2)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 24)