In [4]:
'''
Question 1

Write a Python function to find the largest (max) of three numbers.

For example, the max of these three numbers (20, 35, 19) is 35.
'''
def maximum(n1,n2,n3):
    maxi=n1
    if maxi<n2 and n2>n3:
        maxi=n2
    else:
        maxi=n3
    print(maxi)
    return maxi
x=int(input("write the fist num "))
y=int(input("write the second num ")) 
z=int(input("write the thord num "))
maximum(x,y,z)

write the fist num 1
write the second num 2
write the thord num 3
3

3

In [6]:
'''
Question 2

Write a function calculation() so it can accept two variables and calculate the addition 
and subtraction of them. It must return both addition and subtraction in a single return call.

For example:

calculation(40, 10) should produce 50, 30
'''
def calculation(x,y):
    return "la dition de x,y est ",x+y,"la sustaction est ",x-y

n1=int(input("write the fist num "))
n2=int(input("write the second num ")) 
calculation(n1,n2)

write the fist num 1
write the second num 2

('la dition de x,y est ', 3, 'la sustaction est ', -1)

In [10]:
'''
Question 3

Write a function that sums the elements of a list of integers.

'''
def sume(x):
    sumee=0
    for i in range(len(x)) :
        sumee+=x[i]
    return (sumee)
    
x=[int(i) for i in input("write numbers to creat a list")]
c= sume(x)
print(c)

write numbers to creat a list1234

10

In [18]:
'''
Write a function that multiplies the elements of an integer list.
'''

def multiple(x):
    mult=1
    for i in range(len(x)) :
        mult*=x[i]
    return (mult)
    
x=[int(i) for i in input("write numbers to creat a list ")]
multiple(x)

write numbers to creat a list 123

6

In [20]:
'''
Use the two functions to sum the elements whose position is an even number (0,2,4â€¦) and multiply the rest.
Hint: Consider extracting two lists from a first list.
'''
def q3(x):
    list1=[]
    list2=[]
    for i in range(len(x)):
        if i%2==0:
            list1.append(x[i])
        else:
            list2.append(x[i])
    return "la sum de even num is ",sume(list1),"la mult d'autre est ",multiple(list2)


x=[int(i) for i in input("write numbers to creat a list")]
q3(x)

write numbers to creat a list1234

('la sum de even num is ', 4, "la mult d'autre est ", 8)

In [31]:
'''
Question 4

write a function that displays the first letter of the dictionary value in upper case by using the return statement.
'''
def q4(x):
    for key in x:
        x[key] = x[key].capitalize()
    return x
x={'a':'halima','b':'kamal'}
q4(x)

{'a': 'Halima', 'b': 'Kamal'}

In [44]:
'''
Question 5

write a function that returns the largest word in the dictionary.

'''
def largest(x):
    large=len(list(x.values())[0])
    for key in x:
        if len(x[key])>large:
            large=x[key]
    return large


x={'a':'halima','b':'elhagouchi'}
largest(x)

'elhagouchi'

In [60]:
'''
Question 6

Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words
in a hyphen-separated sequence after sorting them alphabetically.

Sample items: green-red-yellow-black-white

Expected result: black-green-red-white-yellow

Hint: There's a split function to separate your input string into words and a sort function to sort.
'''
def q6(x):
    neuv_x= x.split('-')
    nx=neuv_x.sort()
    z='-'.join(map(str,nx)
    return z
    

a=input('write a sequence of words ')
q6(a)

SyntaxError: invalid syntax (4266171514.py, line 17)

In [41]:
'''
Question 7 (Bonus)

Write a function that calculates and prints the value according to the given formula: Q = square root of [(2 * C * D)/H].
Following are the fixed values of C and H: C is 50, and H is 30. D is the variable whose values should be input to your
program in a comma-separated sequence. Example: Let us assume the following comma-separated input sequence is given to
the function: 100,150,180. 

Expected result: 18,22,24 

Hints: If the output received is in decimal form, it should be rounded off to its nearest value. For example, 
if the output received is 26.0, it should be printed as 26. In the case of input data being supplied to the
question, it should be assumed to be a console input. '''

'halima'